/* D:\CodeByte\portfolio\gajendra\src\assets\fonts\Grotesk\font.css */

/* Grotek Mono Light */
@font-face {
  font-family: "Grotek";
  src: url("./static/SpaceGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

/* Grotek Mono Regular */
@font-face {
  font-family: "Grotek";
  src: url("./static/SpaceGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

/* Grotek Mono Medium */
@font-face {
  font-family: "Grotek";
  src: url("./static/SpaceGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}